.env
.envrc
.idea/
.ivy2/
scala.iml

### https://raw.github.com/github/gitignore/e9c3096114fd81b92cf989f7343d7b168b80d994/Global/SBT.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


### https://raw.github.com/github/gitignore/e9c3096114fd81b92cf989f7343d7b168b80d994/Scala.gitignore

*.class
*.log


gibo 2.0 by Simon Whitaker <sw@netcetera.org>
https://github.com/simonwhitaker/gibo
### https://raw.github.com/github/gitignore/90f149de451a5433aebd94d02d11b0e28843a1af/PlayFramework.gitignore

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache


### https://raw.github.com/github/gitignore/90f149de451a5433aebd94d02d11b0e28843a1af/Gradle.gitignore

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


